.food-slide {
    text-align: center;
  }
  
  .food-slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }
  .heading{
    font-size: 15px;
    font-weight: 800;
  }
  